<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Plataforma De Manejo de Citas</title>
        {% endif %}
    </head>
    <body>
        <div>
            Opciones:
            <a href="/login">Login</a> ||
            <a href="/index">Inicio</a>||
            <a href="/calendario">Calendario</a>||
            <a href="/historial">Historial</a>||
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
