{% extends "base.html" %}
{% block content %}
    <h1>Calendario</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.fecha.label }}<br>
            {{ form.fecha(size=32) }}<br>
            {% for error in form.fecha.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hora.label}}<br>
            {{ form.hora(size=32) }}<br>
            {% for error in form.hora.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.carne.label }}<br>
            {{ form.carne(size=32) }}<br>
            {% for error in form.carne.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{form.submit() }}</p>
    </form>
{% endblock %}