{% extends "base.html" %}

{% block content %}
    <h1>Bienvenido, {{user.username}}!</h1>
    {% for post in posts %}
    {% endfor %}
    <div class ="content">
        <h3 style="text-align: center;">Plataforma de Manejo de Citas</h3>
        <table  border = "" style="text-align: center;">
            <tr>
                <th>Carne</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                <a href="">Guardar</th>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}